<div class="block">
    <div class="title-group"><h2>Clients Say</h2></div>
    <div id="clients-say" class="owl-container">
        <div class="owl">
            <div class='testimonial-list'>
                <div class="testimonial-sidebar-content">
                    <div class="content">
                        <a href="#">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros...</a>
                    </div>
                    <div class="post-by">
                        <div class="testimonial-content-avatar">
                            <img src="~/assets/web/images/avatar/avatar-01.jpg" alt="test" />
                        </div>
                        <div class="box-author">
                            <span class="testimonial-author">Mr rooney</span>
                            <span class="testimonial-date">March 24, 2015</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class='testimonial-list'>
                <div class="testimonial-sidebar-content">
                    <div class="content">
                        <a href="#">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et...</a>
                    </div>
                    <div class="post-by">
                        <div class="testimonial-content-avatar">
                            <img src="~/assets/web/images/avatar/avatar-02.jpg" alt="test" />
                        </div>
                        <div class="box-author">
                            <span class="testimonial-author">Robert Carlo</span>
                            <span class="testimonial-date">January 30, 2015</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class='testimonial-list'>
                <div class="testimonial-sidebar-content">
                    <div class="content">
                        <a href="#">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et... </a>
                    </div>
                    <div class="post-by">
                        <div class="testimonial-content-avatar">
                            <img src="~/assets/web/images/avatar/avatar-03.jpg" alt="test" />
                        </div>
                        <div class="box-author">
                            <span class="testimonial-author">mr Lee</span>
                            <span class="testimonial-date">January 30, 2015</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.block - Latest News -->