<div class="timely">
    <div class="title-group"><h2>hot deals</h2></div>
    <div id="timely-owl" class="owl-container">
        <div class="owl">
            <div class='timer-item item'>
                <div class="item-inner">
                    <div class="images-container">
                        <a href="#" title="Fusce aliquam" class="product-image"><img src="~/assets/web/images/products/1.jpg" alt="Fusce aliquam" /></a>
                        <div class="box-timer">
                            <div class="countbox_1 timer-grid"></div>
                        </div>
                    </div>
                    <div class="content-box">
                        <h2 class="product-name"><a href="#" title="Fusce aliquam">Fusce aliquam</a></h2>
                        <div class="price-box">
                            <p class="special-price">
                                <span class="price-label">Special Price</span>
                                <span class="price">$99.00</span>
                            </p>
                            <p class="old-price">
                                <span class="price-label">Regular Price: </span>
                                <span class="price">$170.00</span>
                            </p>
                        </div>
                        <div class="ratings">
                            <div class="rating-box">
                                <div class="rating" style="width:67%"></div>
                            </div>
                            <span class="amount"><a href="#">1 Review(s)</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class='timer-item item'>
                <div class="item-inner">
                    <div class="images-container">
                        <a href="#" title="Quisque in arcu" class="product-image"><img src="~/assets/web/images/products/2.jpg" alt="Quisque in arcu" /></a>
                        <div class="box-timer">
                            <div class="countbox_2 timer-grid"></div>
                        </div>
                    </div>
                    <div class="content-box">
                        <h2 class="product-name"><a href="#" title="Quisque in arcu">Quisque in arcu</a></h2>
                        <div class="price-box">
                            <p class="special-price">
                                <span class="price-label">Special Price</span>
                                <span class="price">$699.00</span>
                            </p>
                            <p class="old-price">
                                <span class="price-label">Regular Price: </span>
                                <span class="price">$800.00</span>
                            </p>
                        </div>
                        <div class="ratings">
                            <div class="rating-box">
                                <div class="rating" style="width:67%"></div>
                            </div>
                            <span class="amount"><a href="#">1 Review(s)</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class='timer-item item'>
                <div class="item-inner">
                    <div class="images-container">
                        <a href="#" title="pleasure rationally" class="product-image"><img src="~/assets/web/images/products/20.jpg" alt="pleasure rationally" /></a>
                        <div class="box-timer">
                            <div class="countbox_3 timer-grid"></div>
                        </div>
                    </div>
                    <div class="content-box">
                        <h2 class="product-name"><a href="#" title="pleasure rationally">pleasure rationally</a></h2>
                        <div class="price-box">
                            <p class="special-price">
                                <span class="price-label">Special Price</span>
                                <span class="price">$222.00</span>
                            </p>
                            <p class="old-price">
                                <span class="price-label">Regular Price: </span><span class="price">$333.00</span>
                            </p>
                        </div>
                        <div class="ratings">
                            <div class="rating-box">
                                <div class="rating" style="width:67%"></div>
                            </div>
                            <span class="amount"><a href="#">1 Review(s)</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.timely -->