<div class="menu-recent block">
    <div class="title-group"><h2>Latest News</h2></div>
    <div id="latest-news" class="owl-container">
        <div class="owl">
            <div>
                <div class="item-inner">
                    <div class="images-container">
                        <a href="#"> <img alt="" src="~/assets/web/images/blog/blog-01.jpg" /> </a>
                    </div>
                    <div class="des-container">
                        <div class="date-comments">
                            <div class="time"><span class="date">August 04, 2015</span></div>
                        </div>
                        <div class="des">
                            <h4><a href="#" class="title-blog"><span>swimwear for women</span></a></h4>
                            Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using...
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="item-inner">
                    <div class="images-container">
                        <a href="#"> <img alt="" src="~/assets/web/images/blog/blog-02.jpg" /> </a>
                    </div>
                    <div class="des-container">
                        <div class="date-comments">
                            <div class="time"><span class="date">January 05, 2015</span></div>
                        </div>
                        <div class="des">
                            <h4><a href="#" class="title-blog"><span>Burberry sport for men</span></a></h4>
                            Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using...
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="item-inner">
                    <div class="images-container">
                        <a href="#"> <img alt="" src="~/assets/web/images/blog/blog-01.jpg" /> </a>
                    </div>
                    <div class="des-container">
                        <div class="date-comments">
                            <div class="time"><span class="date">August 04, 2015</span></div>
                        </div>
                        <div class="des">
                            <h4><a href="#" class="title-blog"><span>swimwear for women</span></a></h4>
                            Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.block - Latest News -->