@model List<OnlineStore.Data.Entities.Brand>

<div class="brands">
    <div class="container">
        <div class="title-group1">
            <h2>Thương hiệu phổ biến</h2>
        </div>
        <div id="brands" class="owl-container">
            <div class="owl">
                @foreach (var brand in Model)
                {
                    <div class='item'>
                        <div class="item-innner">
                            <a href="#" title=""><img src="~/assets/web/images/brand/logo_brand5.png" alt="" /></a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
