<div class="row">
    <div class="col-sm-4">
        <div class="title-group"><h2>Random</h2></div>
        <div class="product-list">
            <div class="products-grid">
                <div class="images-container">
                    <a class="product-image" title="Accumsan elit " href="#"><img alt="Accumsan elit " src="~/assets/web/images/products/21.jpg"></a>
                </div>
                <div class="des-container">
                    <h2 class="product-name"><a title="Accumsan elit " href="#">Accumsan elit </a></h2>
                    <div class="ratings">
                        <div class="rating-box">
                            <div style="width:67%" class="rating"></div>
                        </div>
                        <span class="amount"><a href="#">1 Review(s)</a></span>
                    </div>
                    <div class="price-box">
                        <p class="special-price">
                            <span class="price">$169.99</span>
                        </p>
                        <p class="old-price">
                            <span class="price">$189.00</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="products-grid">
                <div class="images-container">
                    <a class="product-image" title="Accumsan elit " href="#"><img alt="Accumsan elit " src="~/assets/web/images/products/20.jpg"></a>
                </div>
                <div class="des-container">
                    <h2 class="product-name"><a title="Accumsan elit " href="#">Accumsan elit </a></h2>
                    <div class="ratings">
                        <div class="rating-box">
                            <div style="width:67%" class="rating"></div>
                        </div>
                        <span class="amount"><a href="#">1 Review(s)</a></span>
                    </div>
                    <div class="price-box">
                        <p class="special-price">
                            <span class="price">$169.99</span>
                        </p>
                        <p class="old-price">
                            <span class="price">$189.00</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="products-grid">
                <div class="images-container">
                    <a class="product-image" title="Accumsan elit " href="#"><img alt="Accumsan elit " src="~/assets/web/images/products/19.jpg"></a>
                </div>
                <div class="des-container">
                    <h2 class="product-name"><a title="Accumsan elit " href="#">Accumsan elit </a></h2>
                    <div class="ratings">
                        <div class="rating-box">
                            <div style="width:67%" class="rating"></div>
                        </div>
                        <span class="amount"><a href="#">1 Review(s)</a></span>
                    </div>
                    <div class="price-box">
                        <p class="special-price">
                            <span class="price">$169.99</span>
                        </p>
                        <p class="old-price">
                            <span class="price">$189.00</span>
                        </p>
                    </div>
                </div>
            </div>
        </div><!-- /.product-list -->
    </div>
    <div class="col-sm-4">
        <div class="title-group"><h2>Bestseller</h2></div>
        <div class="product-list">
            <div class="products-grid">
                <div class="images-container">
                    <a class="product-image" title="Accumsan elit " href="#"><img alt="Accumsan elit " src="~/assets/web/images/products/18.jpg"></a>
                </div>
                <div class="des-container">
                    <h2 class="product-name"><a title="Accumsan elit " href="#">Demonstraverunt lectores</a></h2>
                    <div class="ratings">
                        <div class="rating-box">
                            <div style="width:67%" class="rating"></div>
                        </div>
                        <span class="amount"><a href="#">1 Review(s)</a></span>
                    </div>
                    <div class="price-box">
                        <p class="special-price">
                            <span class="price">$169.99</span>
                        </p>
                        <p class="old-price">
                            <span class="price">$189.00</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="products-grid">
                <div class="images-container">
                    <a class="product-image" title="Accumsan elit " href="#"><img alt="Accumsan elit " src="~/assets/web/images/products/17.jpg"></a>
                </div>
                <div class="des-container">
                    <h2 class="product-name"><a title="Accumsan elit " href="#">Demonstraverunt lectores</a></h2>
                    <div class="ratings">
                        <div class="rating-box">
                            <div style="width:67%" class="rating"></div>
                        </div>
                        <span class="amount"><a href="#">1 Review(s)</a></span>
                    </div>
                    <div class="price-box">
                        <p class="special-price">
                            <span class="price">$169.99</span>
                        </p>
                        <p class="old-price">
                            <span class="price">$189.00</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="products-grid">
                <div class="images-container">
                    <a class="product-image" title="Accumsan elit " href="#"><img alt="Accumsan elit " src="~/assets/web/images/products/16.jpg"></a>
                </div>
                <div class="des-container">
                    <h2 class="product-name"><a title="Accumsan elit " href="#">Demonstraverunt lectores</a></h2>
                    <div class="ratings">
                        <div class="rating-box">
                            <div style="width:67%" class="rating"></div>
                        </div>
                        <span class="amount"><a href="#">1 Review(s)</a></span>
                    </div>
                    <div class="price-box">
                        <p class="special-price">
                            <span class="price">$169.99</span>
                        </p>
                        <p class="old-price">
                            <span class="price">$189.00</span>
                        </p>
                    </div>
                </div>
            </div>
        </div><!-- /.product-list -->
    </div>
    <div class="col-sm-4">
        <div class="title-group"><h2>Hot sale</h2></div>
        <div class="product-list">
            <div class="products-grid">
                <div class="images-container">
                    <a class="product-image" title="Accumsan elit " href="#"><img alt="Accumsan elit " src="~/assets/web/images/products/15.jpg"></a>
                </div>
                <div class="des-container">
                    <h2 class="product-name"><a title="Accumsan elit " href="#">Accumsan elit </a></h2>
                    <div class="ratings">
                        <div class="rating-box">
                            <div style="width:67%" class="rating"></div>
                        </div>
                        <span class="amount"><a href="#">1 Review(s)</a></span>
                    </div>
                    <div class="price-box">
                        <p class="special-price">
                            <span class="price">$169.99</span>
                        </p>
                        <p class="old-price">
                            <span class="price">$189.00</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="products-grid">
                <div class="images-container">
                    <a class="product-image" title="Accumsan elit " href="#"><img alt="Accumsan elit " src="~/assets/web/images/products/14.jpg"></a>
                </div>
                <div class="des-container">
                    <h2 class="product-name"><a title="Accumsan elit " href="#">Accumsan elit </a></h2>
                    <div class="ratings">
                        <div class="rating-box">
                            <div style="width:67%" class="rating"></div>
                        </div>
                        <span class="amount"><a href="#">1 Review(s)</a></span>
                    </div>
                    <div class="price-box">
                        <p class="special-price">
                            <span class="price">$169.99</span>
                        </p>
                        <p class="old-price">
                            <span class="price">$189.00</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="products-grid">
                <div class="images-container">
                    <a class="product-image" title="Accumsan elit " href="#"><img alt="Accumsan elit " src="~/assets/web/images/products/13.jpg"></a>
                </div>
                <div class="des-container">
                    <h2 class="product-name"><a title="Accumsan elit " href="#">Accumsan elit </a></h2>
                    <div class="ratings">
                        <div class="rating-box">
                            <div style="width:67%" class="rating"></div>
                        </div>
                        <span class="amount"><a href="#">1 Review(s)</a></span>
                    </div>
                    <div class="price-box">
                        <p class="special-price">
                            <span class="price">$169.99</span>
                        </p>
                        <p class="old-price">
                            <span class="price">$189.00</span>
                        </p>
                    </div>
                </div>
            </div>
        </div><!-- /.product-list -->
    </div>
</div>