<div class="row">
    <div class="title-group1"><h2>Sản phẩm được quan tâm</h2></div>
    @for (int i = 0; i < 8; i++)
    {
        <div class="products-grid col-sm-2 col-xs-4">
            <div class="images-container">
                <a class="product-image" title="Accumsan elit " href="#"><img alt="Accumsan elit " src="~/assets/web/images/products/2.jpg"></a>
            </div>
            <div class="des-container">
                <h2 class="product-name"><a title="Accumsan elit " href="#">Máy ảnh</a></h2>
                <div class="price-box">
                    <p class="special-price">
                        <span class="price">200.000 đ</span>
                    </p>
                    <p class="old-price">
                        <span class="price">190.000 đ</span>
                    </p>
                </div>
            </div>
            <div class="cart-container">
                <button type="submit" class="btn btn-danger btn-cart">Mua</button>
            </div>
        </div>
    }
</div>

<style>
    .products-grid{
        border-bottom:none;
    }

    .products-grid .images-container{
        width: 100%;
        border:none;
        padding: 0px 10px 0px 10px;
        text-align:center;
    }

    .product-image img
    {
        max-height: 150px;
        height:100%;
        width:auto;
    }

    .title-group1{
        margin-bottom:none;
    }

    .cart-container
    {
        width: 100%;
        text-align:center;
    }
</style>

@*<div class="featuredproductslider-container">
    <div class="title-group1"><h2>Sản phẩm bán chạy</h2></div>
    <div id="featured-products" class="owl-container">
        <div class="owl">
            <div class='productslider-item item'>
                <div class="item-inner">
                    <div class="images-container">
                        <div class="product_icon">
                            <div class='new-icon'><span>Mới</span></div>
                        </div>
                        <a href="#" title="Nunc facilisis" class="product-image">
                            <img src="~/assets/web/images/products/8.jpg" alt="Nunc facilisis" />
                        </a>
                        <div class="box-hover">
                            <ul class="add-to-links">
                                <li><a href="#" class="link-quickview">Quick View</a></li>
                                <li><a href="#" class="link-wishlist">Add to Wishlist</a></li>
                                <li><a href="#" class="link-compare">Add to Compare</a></li>
                                <li><a href="#" class="link-cart">Add to Cart</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="des-container">
                        <h2 class="product-name"><a href="#" title="Nunc facilisis">Nunc facilisis</a></h2>
                        <div class="price-box">
                            <p class="special-price">
                                <span class="price-label">Special Price</span>
                                <span class="price">$169.99</span>
                            </p>
                            <p class="old-price">
                                <span class="price-label">Regular Price: </span>
                                <span class="price">$189.00</span>
                            </p>
                        </div>
                        <div class="ratings">
                            <div class="rating-box">
                                <div class="rating" style="width:67%"></div>
                            </div>
                            <span class="amount"><a href="#">3 Review(s)</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class='productslider-item item'>
                <div class="item-inner">
                    <div class="images-container">
                        <div class="product_icon">
                            <div class='new-icon'><span>new</span></div>
                        </div>
                        <a href="#" title="Nunc facilisis" class="product-image">
                            <img src="~/assets/web/images/products/3.jpg" alt="Nunc facilisis" />
                        </a>
                        <div class="box-hover">
                            <ul class="add-to-links">
                                <li><a href="#" class="link-quickview">Quick View</a></li>
                                <li><a href="#" class="link-wishlist">Add to Wishlist</a></li>
                                <li><a href="#" class="link-compare">Add to Compare</a></li>
                                <li><a href="#" class="link-cart">Add to Cart</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="des-container">
                        <h2 class="product-name"><a href="#" title="Nunc facilisis">Nunc facilisis</a></h2>
                        <div class="price-box">
                            <p class="special-price">
                                <span class="price-label">Special Price</span>
                                <span class="price">$169.99</span>
                            </p>
                            <p class="old-price">
                                <span class="price-label">Regular Price: </span>
                                <span class="price">$189.00</span>
                            </p>
                        </div>
                        <div class="ratings">
                            <div class="rating-box">
                                <div class="rating" style="width:67%"></div>
                            </div>
                            <span class="amount"><a href="#">3 Review(s)</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class='productslider-item item'>
                <div class="item-inner">
                    <div class="images-container">
                        <div class="product_icon">
                            <div class='new-icon'><span>new</span></div>
                        </div>
                        <a href="#" title="Nunc facilisis" class="product-image">
                            <img src="~/assets/web/images/products/21.jpg" alt="Nunc facilisis" />
                        </a>
                        <div class="box-hover">
                            <ul class="add-to-links">
                                <li><a href="#" class="link-quickview">Quick View</a></li>
                                <li><a href="#" class="link-wishlist">Add to Wishlist</a></li>
                                <li><a href="#" class="link-compare">Add to Compare</a></li>
                                <li><a href="#" class="link-cart">Add to Cart</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="des-container">
                        <h2 class="product-name"><a href="#" title="Nunc facilisis">Nunc facilisis</a></h2>
                        <div class="price-box">
                            <p class="special-price">
                                <span class="price-label">Special Price</span>
                                <span class="price">$169.99</span>
                            </p>
                            <p class="old-price">
                                <span class="price-label">Regular Price: </span>
                                <span class="price">$189.00</span>
                            </p>
                        </div>
                        <div class="ratings">
                            <div class="rating-box">
                                <div class="rating" style="width:67%"></div>
                            </div>
                            <span class="amount"><a href="#">3 Review(s)</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class='productslider-item item'>
                <div class="item-inner">
                    <div class="images-container">
                        <div class="product_icon">
                            <div class='new-icon'><span>new</span></div>
                        </div>
                        <a href="#" title="Nunc facilisis" class="product-image">
                            <img src="~/assets/web/images/products/6.jpg" alt="Nunc facilisis" />
                        </a>
                        <div class="box-hover">
                            <ul class="add-to-links">
                                <li><a href="#" class="link-quickview">Quick View</a></li>
                                <li><a href="#" class="link-wishlist">Add to Wishlist</a></li>
                                <li><a href="#" class="link-compare">Add to Compare</a></li>
                                <li><a href="#" class="link-cart">Add to Cart</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="des-container">
                        <h2 class="product-name"><a href="#" title="Nunc facilisis">Nunc facilisis</a></h2>
                        <div class="price-box">
                            <p class="special-price">
                                <span class="price-label">Special Price</span>
                                <span class="price">$169.99</span>
                            </p>
                            <p class="old-price">
                                <span class="price-label">Regular Price: </span>
                                <span class="price">$189.00</span>
                            </p>
                        </div>
                        <div class="ratings">
                            <div class="rating-box">
                                <div class="rating" style="width:67%"></div>
                            </div>
                            <span class="amount"><a href="#">3 Review(s)</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class='productslider-item item'>
                <div class="item-inner">
                    <div class="images-container">
                        <div class="product_icon">
                            <div class='new-icon'><span>new</span></div>
                        </div>
                        <a href="#" title="Nunc facilisis" class="product-image">
                            <img src="~/assets/web/images/products/10.jpg" alt="Nunc facilisis" />
                        </a>
                        <div class="box-hover">
                            <ul class="add-to-links">
                                <li><a href="#" class="link-quickview">Quick View</a></li>
                                <li><a href="#" class="link-wishlist">Add to Wishlist</a></li>
                                <li><a href="#" class="link-compare">Add to Compare</a></li>
                                <li><a href="#" class="link-cart">Add to Cart</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="des-container">
                        <h2 class="product-name"><a href="#" title="Nunc facilisis">Nunc facilisis</a></h2>
                        <div class="price-box">
                            <p class="special-price">
                                <span class="price-label">Special Price</span>
                                <span class="price">$169.99</span>
                            </p>
                            <p class="old-price">
                                <span class="price-label">Regular Price: </span>
                                <span class="price">$189.00</span>
                            </p>
                        </div>
                        <div class="ratings">
                            <div class="rating-box">
                                <div class="rating" style="width:67%"></div>
                            </div>
                            <span class="amount"><a href="#">3 Review(s)</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class='productslider-item item'>
                <div class="item-inner">
                    <div class="images-container">
                        <div class="product_icon">
                            <div class='new-icon'><span>new</span></div>
                        </div>
                        <a href="#" title="Nunc facilisis" class="product-image">
                            <img src="~/assets/web/images/products/14.jpg" alt="Nunc facilisis" />
                        </a>
                        <div class="box-hover">
                            <ul class="add-to-links">
                                <li><a href="#" class="link-quickview">Quick View</a></li>
                                <li><a href="#" class="link-wishlist">Add to Wishlist</a></li>
                                <li><a href="#" class="link-compare">Add to Compare</a></li>
                                <li><a href="#" class="link-cart">Add to Cart</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="des-container">
                        <h2 class="product-name"><a href="#" title="Nunc facilisis">Nunc facilisis</a></h2>
                        <div class="price-box">
                            <p class="special-price">
                                <span class="price-label">Special Price</span>
                                <span class="price">$169.99</span>
                            </p>
                            <p class="old-price">
                                <span class="price-label">Regular Price: </span>
                                <span class="price">$189.00</span>
                            </p>
                        </div>
                        <div class="ratings">
                            <div class="rating-box">
                                <div class="rating" style="width:67%"></div>
                            </div>
                            <span class="amount"><a href="#">3 Review(s)</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class='productslider-item item'>
                <div class="item-inner">
                    <div class="images-container">
                        <div class="product_icon">
                            <div class='new-icon'><span>new</span></div>
                        </div>
                        <a href="#" title="Nunc facilisis" class="product-image">
                            <img src="~/assets/web/images/products/20.jpg" alt="Nunc facilisis" />
                        </a>
                        <div class="box-hover">
                            <ul class="add-to-links">
                                <li><a href="#" class="link-quickview">Quick View</a></li>
                                <li><a href="#" class="link-wishlist">Add to Wishlist</a></li>
                                <li><a href="#" class="link-compare">Add to Compare</a></li>
                                <li><a href="#" class="link-cart">Add to Cart</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="des-container">
                        <h2 class="product-name"><a href="#" title="Nunc facilisis">Nunc facilisis</a></h2>
                        <div class="price-box">
                            <p class="special-price">
                                <span class="price-label">Special Price</span>
                                <span class="price">$169.99</span>
                            </p>
                            <p class="old-price">
                                <span class="price-label">Regular Price: </span>
                                <span class="price">$189.00</span>
                            </p>
                        </div>
                        <div class="ratings">
                            <div class="rating-box">
                                <div class="rating" style="width:67%"></div>
                            </div>
                            <span class="amount"><a href="#">3 Review(s)</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@