@using OnlineStore.Common
@model DefaultFilter

<!--Hidden search-->
@Html.Partial("_HiddenSearch")

<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title" style="padding-top:25px;">
                    <h2>Tìm thấy <span id="result-number"><b style="color:silver;">100</b></span> kết quả</h2>
                </div>
                <div class="toolbar">
                    <div class="sorter">
                        <p class="view-mode">
                            <label>Xem đưới dạng:</label>
                            <a class="grid view-selected" onclick="toggleViewMode();" title="Grid">Lưới</a>&nbsp;
                            <a class="list" onclick="toggleViewMode();" title="List" href="#">Danh sách</a>&nbsp;
                        </p>
                    </div>
                    <div class="pager">
                        <div class="sort-by hidden-xs">
                            <label>Sắp xếp theo:</label>
                            <select id="slSorting" class="form-control input-sm">
                                <option value="Price-ascending" selected="selected">Giá: Từ nhỏ nhất đến lớn nhất</option>
                                <option value="Price-descending">Giá: Từ lớn nhất đến nhỏ nhất</option>
                            </select>
                            <span id="sorting-ascending" class="fa fa-sort-amount-asc"></span>
                            <span id="sorting-descending" style="display:none;" class="fa fa-sort-amount-desc"></span>
                        </div>
                    </div>
                </div>

                <div id="search-container">
                    @Html.Action("_SearchResultList", "Home", new { CategoryId = Model.CategoryId, Keyword = Model.Keyword })
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .view-selected, .view-selected:before {
        color: #fff !important;
        background: #d8373e;
        border-color: #d8373e;
    }

    .pager .sort-by {
        border-left: 0px;
        border-right: 0px;
    }

    .breadcrumbs {
        display: none;
    }
</style>

<script>
    $(document).ready(function () {
        //Paging
        LoadSorting();

        $("#slSorting").change(function () {
            var sortArr = $(this).val().split("-");
            var sortField = sortArr[0];
            var sortDirection = sortArr[1];

            $("#hdSortField").val(sortField);
            $("#hdSortDirection").val(sortDirection);

            fnSearchMain();
        });
    });

    function LoadSorting() {
        var sortDirection = $("#hdSortDirection").val();

        if (sortDirection === "ascending") {
            $("#sorting-ascending").show();
            $("#sorting-descending").hide();
        }
        else {
            $("#sorting-ascending").hide();
            $("#sorting-descending").show();
        }
    }

    function toggleViewMode() {
        $("#viewmode-grid").toggle();
        $("#viewmode-list").toggle();

        $(".grid").toggleClass("view-selected");
        $(".list").toggleClass("view-selected");
    }
</script>


