@{
    ViewBag.Title = "Home Page";
}

<h1 class="home-title">HỆ THỐNG QUẢN LÍ XUẤT NHẬP KHẨU</h1>

<div class="row">
    <div class="col-md-3 home-box">
        <div class="home-box-content">
            <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-user"></span> Nhà cung cấp</a>
        </div>
    </div>

    <div class="col-md-3 home-box">
        <div class="home-box-content">
            <a class="navbar-brand" href="/"><i class="glyphicon glyphicon-user"></i> Khách hàng</a>
        </div>
    </div>

    <div class="col-md-3 home-box">
        <div class="home-box-content">
            <a class="navbar-brand" href="/"><i class="glyphicon glyphicon-usd"></i> Bán hàng</a>
        </div>
    </div>

    <div class="col-md-3 home-box">
        <div class="home-box-content">
            <a class="navbar-brand" href="/"><i class="glyphicon glyphicon-shopping-cart"></i> Mua hàng</a>
        </div>
    </div>

    <div class="col-md-3 home-box">
        <div class="home-box-content">
            <a class="navbar-brand" href="/"><i class="glyphicon glyphicon-book"></i> Kho</a>
        </div>
    </div>

    <div class="col-md-3 home-box">
        <div class="home-box-content">
            <a class="navbar-brand" href="/User"><i class="glyphicon glyphicon-user"></i> Quản lí người dùng</a>
        </div>
    </div>
</div>

