@model IEnumerable<OnlineStore.Data.Entities.Module>
@{
    ViewBag.Title = "Quản lý người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="action-buttons" style="padding-bottom: 10px;">
    <button class="btn btn-white btn-info btn-bold">
        <i class="ace-icon fa fa-floppy-o bigger-120 blue"></i>
        @Html.ActionLink("Tạo mới", "Create")
    </button>
    @Html.Partial("_Search")
    <input type="hidden" id="hdControllerName" value="Users" />
</div>
<div id="search-container">
    @Html.Action("_List", "Users")
</div>
