body, h1 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.page-header h1 {
    color: black !important;
}

.nav-search {
    top: 10px;
}

.ui-datepicker {
    width: 18em !important;
}