<div class="mini-cart">
    <div class="top-cart-title">
        <a href="/ShoppingCart" class="dropdown-toggle">
            Giỏ hàng
            <span class="price">45.000</span>
        </a>
    </div>
</div>