
@{
    ViewBag.Title = "Đặt hàng thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-color:silver;">
    @ViewBag.Message
</div>

<pre>
    Đơn hàng của bạn trên quacuame.vn đã hoàn tất.
    Bạn đã chọn phương thức thanh toán bằng tiền mặt khi nhận hàng.
    Chúng tôi sẽ liên hệ với bạn qua điện thoại để xác nhận thời gian giao hàng.
    Mọi yêu cầu tư vấn hoặc sử dụng dịch vụ, xin vui lòng liên hệ với chúng tôi qua Hotline, Zalo, Viber: 0122 704 0488 hoặc email: cskh@quacuame.vn.
</pre>



