<div class="row">
    <div class="col-sm-3">
        <div class="banner-left">
            <a href="#"><img src="~/assets/web/images/ads/ads-01.jpg" alt=""></a>
            <div class="banner-content">
                <h1>sale up to</h1>
                <h2>20% off</h2>
                <p>on selected products</p>
                <a href="#">buy now</a>
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="banner banner-double"><a href="#"><img alt="" src="~/assets/web/images/ads/ads-02.jpg"></a></div>
        <div class="banner banner-double"><a href="#"><img alt="" src="~/assets/web/images/ads/ads-03.jpg"></a></div>
    </div>
    <div class="col-sm-4">
        <div class="banner"><a href="#"><img alt="" src="~/assets/web/images/ads/ads-04.jpg"></a></div>
    </div>
</div>