<div class="breadcrumbs">
    <div class="container">
        <ul class="breadcrumb">
            @Html.Action("_Breadcrumb", "Home", new { type = ViewBag.BreadcrumbType, id = ViewBag.ObjectId })
        </ul>
    </div>
</div>