<div class="col-sm-3 col-left">
    <div class="block block-layered-nav">
        <div class="block-title">
            <strong><span>Sort By</span></strong>
        </div>
        <div class="block-content">
            <p class="block-subtitle">Shopping Options</p>
            <div id="narrow-by-list">
                <div class="layered layered-Category">
                    <h2>Category</h2>
                    <div class="content-shopby">
                        <ol>
                            <li><a href="#">Clothing</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Bags</a></li>
                            <li><a href="#">Shoes</a></li>
                            <li><a href="#">HandBag</a></li>
                            <li><a href="#">Fashion</a></li>
                        </ol>
                    </div>
                </div>
                <div class="layered layered-price">
                    <h2>Price</h2>
                    <div class="content-shopby">
                        <div id="slider-range"></div>
                        <div id="search_pr">
                            <input type="text" name="first_price" class="form-control">
                            <input type="text" name="last_price" class="form-control">
                            <button id="search_price" name="search_price" type="button" class="btn btn-default">SHOW</button>
                        </div>
                    </div>
                </div>
                <div class="layered layered-Manufacturer">
                    <h2>Manufacturer</h2>
                    <div class="content-shopby">
                        <ol>
                            <li><a href="#">Aliquam</a></li>
                            <li><a href="#">Duis tempus id </a></li>
                            <li><a href="#">Leo quis molestie. </a></li>
                            <li><a href="#">Suspendisse </a></li>
                            <li><a href="#">Nunc gravida </a></li>
                        </ol>
                    </div>
                </div>
                <div class="layered layered-Color">
                    <h2>Color</h2>
                    <div class="content-shopby">
                        <ol>
                            <li><a href="#">Red</a></li>
                            <li><a href="#">Orange</a></li>
                            <li><a href="#">Blue</a></li>
                            <li><a href="#">Black</a></li>
                            <li><a href="#">Green</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /sort -->
    <div class="block block-list">
        <div class="block-title">
            <strong><span>Compare</span></strong>
        </div>
        <div class="block-content">
            <p class="empty">You have no items to compare.</p>
        </div>
    </div><!-- /.compare -->
    <div class="banner-left">
        <a href="#"><img src="images/ads/ads-01.jpg" alt=""></a>
        <div class="banner-content">
            <h1>sale up to</h1>
            <h2>20% off</h2>
            <p>on selected products</p>
            <a href="#">buy now</a>
        </div>
    </div>
    <div class="block">
        <div class="title-group"><h2>Special Offer</h2></div>
        <div id="special-offer" class="owl-container">
            <div class="owl">
                <div class='sepecialoffer-item item'>
                    <div class="item-inner first">
                        <div class="images-container">
                            <a href="#" title="Primis in faucibus" class="product-image">
                                <img src="images/products/15.jpg" alt="Primis in faucibus" />
                            </a>
                        </div>
                        <div class="des-container">
                            <h2 class="product-name"><a href="#" title="Primis in faucibus">Primis in faucibus</a></h2>
                            <div class="price-box">
                                <p class="special-price">
                                    <span class="price">$169.99</span>
                                </p>
                                <p class="old-price">
                                    <span class="price">$189.00</span>
                                </p>
                            </div>
                            <div class="ratings">
                                <div class="rating-box">
                                    <div class="rating" style="width:87%"></div>
                                </div>
                                <span class="amount"><a href="#">1 Review(s)</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="item-inner">
                        <div class="images-container">
                            <a href="#" title="Accumsan elit " class="product-image">
                                <img src="images/products/14.jpg" alt="Accumsan elit " />
                            </a>
                        </div>
                        <div class="des-container">
                            <h2 class="product-name"><a href="#" title="Accumsan elit ">Accumsan elit </a></h2>
                            <div class="price-box">
                                <p class="special-price">
                                    <span class="price">$169.99</span>
                                </p>
                                <p class="old-price">
                                    <span class="price">$189.00</span>
                                </p>
                            </div>
                            <div class="ratings">
                                <div class="rating-box">
                                    <div class="rating" style="width:67%"></div>
                                </div>
                                <span class="amount"><a href="#">1 Review(s)</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="item-inner">
                        <div class="images-container">
                            <a href="#" title="Nunc facilisis" class="product-image">
                                <img src="images/products/5.jpg" alt="Nunc facilisis" />
                            </a>
                        </div>
                        <div class="des-container">
                            <h2 class="product-name"><a href="#" title="Nunc facilisis">Nunc facilisis</a></h2>
                            <div class="price-box">
                                <p class="special-price">
                                    <span class="price">$169.99</span>
                                </p>
                                <p class="old-price">
                                    <span class="price">$189.00</span>
                                </p>
                            </div>
                            <div class="ratings">
                                <div class="rating-box">
                                    <div class="rating" style="width:67%"></div>
                                </div>
                                <span class="amount"><a href="#">1 Review(s)</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="item-inner last">
                        <div class="images-container">
                            <a href="#" title="Fusce aliquam" class="product-image">
                                <img src="images/products/8.jpg" alt="Fusce aliquam" />
                            </a>
                        </div>
                        <div class="des-container">
                            <h2 class="product-name"><a href="#" title="Fusce aliquam">Fusce aliquam</a></h2>
                            <div class="price-box">
                                <p class="special-price">
                                    <span class="price">$169.99</span>
                                </p>
                                <p class="old-price">
                                    <span class="price">$189.00</span>
                                </p>
                            </div>
                            <div class="ratings">
                                <div class="rating-box">
                                    <div class="rating" style="width:67%"></div>
                                </div>
                                <span class="amount"><a href="#">1 Review(s)</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='sepecialoffer-item item'>
                    <div class="item-inner first">
                        <div class="images-container">
                            <a href="h#" title="consequences" class="product-image">
                                <img src="images/products/9.jpg" alt="consequences" />
                            </a>
                        </div>
                        <div class="des-container">
                            <h2 class="product-name"><a href="#" title="consequences">consequences</a></h2>
                            <div class="price-box">
                                <p class="special-price">
                                    <span class="price">$169.99</span>
                                </p>
                                <p class="old-price">
                                    <span class="price">$189.00</span>
                                </p>
                            </div>
                            <div class="ratings">
                                <div class="rating-box">
                                    <div class="rating" style="width:73%"></div>
                                </div>
                                <span class="amount"><a href="#">1 Review(s)</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="item-inner">
                        <div class="images-container">
                            <a href="#" title="Cras neque metus" class="product-image">
                                <img src="images/products/12.jpg" alt="Cras neque metus" />
                            </a>
                        </div>
                        <div class="des-container">
                            <h2 class="product-name"><a href="#" title="Cras neque metus">Cras neque metus</a></h2>
                            <div class="price-box">
                                <p class="special-price">
                                    <span class="price">$169.99</span>
                                </p>
                                <p class="old-price">
                                    <span class="price">$189.00</span>
                                </p>
                            </div>
                            <div class="ratings">
                                <div class="rating-box">
                                    <div class="rating" style="width:67%"></div>
                                </div>
                                <span class="amount"><a href="#">1 Review(s)</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="item-inner ">
                        <div class="images-container">
                            <a href="#" title="Etiam gravida" class="product-image">
                                <img src="images/products/4.jpg" alt="Etiam gravida" />
                            </a>
                        </div>
                        <div class="des-container">
                            <h2 class="product-name"><a href="#" title="Etiam gravida">Etiam gravida</a></h2>
                            <div class="price-box">
                                <p class="old-price">
                                    <span class="price-label">Regular Price: </span><span class="price">$432.00</span>
                                </p>
                                <p class="special-price">
                                    <span class="price-label">Special Price</span>
                                    <span class="price">$321.00</span>
                                </p>
                            </div>
                            <div class="ratings">
                                <div class="rating-box">
                                    <div class="rating" style="width:67%"></div>
                                </div>
                                <span class="amount"><a href="#">1 Review(s)</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="item-inner last">
                        <div class="images-container">
                            <a href="#" title="Donec non est" class="product-image">
                                <img src="images/products/9.jpg" alt="Donec non est" />
                            </a>
                        </div>
                        <div class="des-container">
                            <h2 class="product-name"><a href="#" title="Donec non est">Donec non est</a></h2>
                            <div class="price-box">
                                <p class="old-price">
                                    <span class="price-label">Regular Price: </span><span class="price">$721.00</span>
                                </p>
                                <p class="special-price">
                                    <span class="price-label">Special Price</span>
                                    <span class="price">$631.00</span>
                                </p>
                            </div>
                            <div class="ratings">
                                <div class="rating-box">
                                    <div class="rating" style="width:73%"></div>
                                </div>
                                <span class="amount"><a href="#">1 Review(s)</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='sepecialoffer-item item'>
                    <div class="item-inner first">
                        <div class="images-container">
                            <a href="#" title="pleasure rationally" class="product-image">
                                <img src="images/products/10.jpg" alt="pleasure rationally" />
                            </a>
                        </div>
                        <div class="des-container">
                            <h2 class="product-name"><a href="#" title="pleasure rationally">pleasure rationally</a></h2>
                            <div class="price-box">
                                <p class="old-price">
                                    <span class="price-label">Regular Price: </span><span class="price">$333.00</span>
                                </p>
                                <p class="special-price">
                                    <span class="price-label">Special Price</span>
                                    <span class="price">$222.00</span>
                                </p>
                            </div>
                            <div class="ratings">
                                <div class="rating-box">
                                    <div class="rating" style="width:67%"></div>
                                </div>
                                <span class="amount"><a href="#">1 Review(s)</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="item-inner ">
                        <div class="images-container">
                            <a href="#" title="Aliquam consequat" class="product-image">
                                <img src="images/products/5.jpg" alt="Aliquam consequat" />
                            </a>
                        </div>
                        <div class="des-container">
                            <h2 class="product-name"><a href="#" title="Aliquam consequat">Aliquam consequat</a></h2>
                            <div class="price-box">
                                <p class="special-price">
                                    <span class="price">$169.99</span>
                                </p>
                                <p class="old-price">
                                    <span class="price">$189.00</span>
                                </p>
                            </div>
                            <div class="ratings">
                                <div class="rating-box">
                                    <div class="rating" style="width:60%"></div>
                                </div>
                                <span class="amount"><a href="#">1 Review(s)</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="item-inner ">
                        <div class="images-container">
                            <a href="#" title=" Donec ac tempus " class="product-image">
                                <img src="images/products/11.jpg" alt=" Donec ac tempus " />
                            </a>
                        </div>
                        <div class="des-container">
                            <h2 class="product-name"><a href="#" title=" Donec ac tempus "> Donec ac tempus </a></h2>
                            <div class="price-box">
                                <p class="special-price">
                                    <span class="price">$169.99</span>
                                </p>
                                <p class="old-price">
                                    <span class="price">$189.00</span>
                                </p>
                            </div>
                            <div class="ratings">
                                <div class="rating-box">
                                    <div class="rating" style="width:80%"></div>
                                </div>
                                <span class="amount"><a href="#">1 Review(s)</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="item-inner last">
                        <div class="images-container">
                            <a href="#" title="occaecati cupiditate" class="product-image">
                                <img src="images/products/6.jpg" alt="occaecati cupiditate" />
                            </a>
                        </div>
                        <div class="des-container">
                            <h2 class="product-name"><a href="#" title="occaecati cupiditate">occaecati cupiditate</a></h2>
                            <div class="price-box">
                                <p class="special-price">
                                    <span class="price">$169.99</span>
                                </p>
                                <p class="old-price">
                                    <span class="price">$189.00</span>
                                </p>
                            </div>
                            <div class="ratings">
                                <div class="rating-box">
                                    <div class="rating" style="width:67%"></div>
                                </div>
                                <span class="amount"><a href="#">1 Review(s)</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.owl-container -->
    </div><!-- /.block - Special offer -->
</div><!-- /.col-left -->
