<div class="col-sm-3 col-left">
    <div class="block block-layered-nav">
        @*<div class="block-title">
            <strong><span>Sort By</span></strong>
        </div>*@
        <div class="block-content">
            @*<p class="block-subtitle">Shopping Options</p>*@
            <div id="narrow-by-list">
                <div class="layered layered-price">
                    <h2>Mức giá</h2>
                    <div class="content-shopby">
                        <div id="slider-range"></div>
                        <div id="search_pr">
                            <input type="text" name="first_price" class="form-control">
                            <input type="text" name="last_price" class="form-control">
                            <button id="search_price" name="search_price" type="button" class="btn btn-default">SHOW</button>
                        </div>
                    </div>
                </div>
                <div class="layered layered-Manufacturer">
                    <h2>Thương hiệu</h2>
                    <div class="content-shopby">
                        <ol>
                            <li><a href="#">Aliquam</a></li>
                            <li><a href="#">Duis tempus id </a></li>
                            <li><a href="#">Leo quis molestie. </a></li>
                            <li><a href="#">Suspendisse </a></li>
                            <li><a href="#">Nunc gravida </a></li>
                        </ol>
                    </div>
                </div>
                @*<div class="layered layered-Color">
                    <h2>Màu sắc</h2>
                    <div class="content-shopby">
                        <ol>
                            <li><a href="#">Xanh</a></li>
                            <li><a href="#">Trắng</a></li>
                            <li><a href="#">Đỏ</a></li>
                            <li><a href="#">Vàng</a></li>
                            <li><a href="#">Đen</a></li>
                        </ol>
                    </div>
                </div>*@
                @*<div class="layered layered-Category">
                    <h2>Category</h2>
                    <div class="content-shopby">
                        <ol>
                            <li><a href="#">Clothing</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Bags</a></li>
                            <li><a href="#">Shoes</a></li>
                            <li><a href="#">HandBag</a></li>
                            <li><a href="#">Fashion</a></li>
                        </ol>
                    </div>
                </div>*@
            </div>
        </div>
    </div><!-- /sort -->
    @*<div class="block block-list">
        <div class="block-title">
            <strong><span>Compare</span></strong>
        </div>
        <div class="block-content">
            <p class="empty">You have no items to compare.</p>
        </div>
    </div>*@<!-- /.compare -->
    @*<div class="banner-left">
        <a href="#"><img src="images/ads/ads-01.jpg" alt=""></a>
        <div class="banner-content">
            <h1>sale up to</h1>
            <h2>20% off</h2>
            <p>on selected products</p>
            <a href="#">buy now</a>
        </div>
    </div>*@
    @*@Html.Action("_SpecialOffer", "Home")*@
</div><!-- /.col-left -->
