<div class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 hidden-sm hidden-xs">
                    <div class="subscribe">
                        <div class="subscribe-inner">
                            <h3>ĐĂNG KÍ NHẬN TIN</h3>
                            Gửi mail hàng tuần
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-8">
                    <form method="post" class="form-inline form-subscribe">
                        <div class="form-group">
                            <input type="text" class="form-control" id="newsletter" name="email">
                        </div>
                        <button class="btn btn-danger" title="Subscribe" type="submit">Kết nối</button>
                    </form>
                </div>
                <div class="col-md-3 col-sm-4">
                    <ul class="social">
                        <li><a href="#" class="face">face</a></li>
                        <li><a href="#" class="google">google</a></li>
                        <li><a href="#" class="twitter">twitter</a></li>
                        <li><a href="#" class="youtube">youtube</a></li>
                        <li><a href="#" class="linkedin">linkedin</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- /.footer-top -->
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="footer-title">
                        <h2>THÔNG TIN LIÊN HỆ</h2>
                    </div>
                    <div class="footer-content">
                        <div class="email add">
                            <p>hieu.truongquan@gmail.com</p>
                        </div>
                        <div class="phone add">
                            <p>01696911552</p>
                        </div>
                        <div class="address add">
                            Địa chỉ:
                            <p>Hồ Chí Minh</p>
                        </div>
                        <div class="contact-link"><a href="#" class="btn btn-default">Tìm trên bản đồ</a></div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="footer-title">
                        <h2>Tài khoảng</h2>
                    </div>
                    <div class="footer-content">
                        <ul>
                            <li><a href="#">Sitemap</a></li>
                            <li><a href="#">Chính sách bảo mật</a></li>
                            <li><a href="#">Tài khoản của bạn</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="footer-title">
                        <h2>Thanh toán & giao hàng</h2>
                    </div>
                    <div class="footer-content">
                        <ul>
                            <li><a href="#">Điều khoản sử dụng</a></li>
                            <li><a href="#">Phương thức thanh toán</a></li>
                            <li><a href="#">Hướng dẫn giao hàng</a></li>
                            <li><a href="#">Địa chỉ giao hàng</a></li>
                            <li><a href="#">Thời gian giao hàng</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="footer-title">
                        <h2>Dịch vụ khách hàng</h2>
                    </div>
                    <div class="footer-content">
                        <ul>
                            <li><a href="#">Chính sách giao hàng</a></li>
                            <li><a href="#">Chính sách trả hàng</a></li>
                            <li><a href="#">Liên hệ với chúng tôi</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="copy">Copyright &copy; 2017 Smart market. All Rights Reserved</div>
                </div>
                <div class="col-sm-6">
                    <div class="payment"><img src="~/assets/web/images/payment.png" alt="" class="img-responsive"></div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.footer -->