<form class="form-search" id="main-search">
    <input type="text" class="input-text" name="q" id="search" placeholder="Tìm kiểm sản phẩm...">
    <div class="dropdown">
        <button type="button" class="btn" data-toggle="dropdown">Tất cả danh mục <span class="fa fa-angle-down"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="#">Computer</a></li>
            <li><a href="#">Camera</a></li>
            <li><a href="#">Smart Phone</a></li>
            <li><a href="#">Electronic</a></li>
        </ul>
    </div>
    <button type="submit" class="btn btn-danger"><span class="fa fa-search"></span></button>
</form>
