@model OnlineStore.Data.Entities.Customer
@{
    ViewBag.Title = "Quản lí tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Xin chào, @Model.Name</h2>
            </div>
        </div>
    </div>
</div>

