@using OnlineStore.Common
@using OnlineStore.Data.Entities
@model OnlineStore.Data.Entities.Customer
@{
    ViewBag.Title = "Địa chỉ giao hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var customer = Session[CommonConstants.CUSTOMER_SESSION] as Customer;
}

<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-left">
                @Html.Partial("_Menu")
            </div>
            <div class="col-sm-9 col-right">
                <h2>Xin chào, @customer.Name</h2>
            </div>
        </div>
    </div>
</div>

