@{ 
    var categories = (List<OnlineStore.Data.Entities.Category>)ViewBag.Categories;
}

<select class="form-control" name="CategoryId" id="slCategorySearch" style="height:54px; font-weight:bold; border:none; border-left:1px dashed silver;">
    <option>Tất cả</option>
    @foreach (var category in categories)
    {
        <option value="@category.Id">@category.Name</option>
    }
</select>