<div class="col-sm-3 col-left">
    <div class="block block-layered-nav">
        <div class="block-content">
            <div id="narrow-by-list">
                <div class="layered layered-price">
                    <h2>Giá sản phẩm</h2>
                    <div class="content-shopby form-horizontal" style="text-align:center;">
                        <div class="form-group" style="margin-bottom:5px;">
                            <label class="control-label col-sm-2">Từ:</label>
                            <div class="input-group col-sm-10" style="padding:0px 15px;">
                                <input type="number" class="form-control" id="from-price" placeholder="">
                                <div class="input-group-addon">đ</div>
                            </div>
                        </div>
                        <div class="form-group" style="margin-bottom:5px;">
                            <label class="control-label col-sm-2">Đến:</label>
                            <div class="input-group col-sm-10" style="padding:0px 15px;">
                                <input type="number" class="form-control" id="to-price" placeholder="">
                                <div class="input-group-addon">đ</div>
                            </div>
                        </div>
                        <button id="search_price" onclick="SearchByPrices()" name="search_price" type="button" class="btn btn-default">Lọc</button>
                   </div>
                </div>
                <!--Related brands-->
                @Html.Action("_RelatedBrands", "Categories", new { categoryId = ViewBag.CategoryId })
            </div>
        </div>
    </div><!-- /sort -->
</div><!-- /.col-left -->

<script>
    function SearchByPrices()
    {
        var fromPrice = $("#from-price").val();
        var toPrice = $("#to-price").val();
        $("#hdPriceRange").val(fromPrice + ":" + toPrice);
        fnSearchWeb();
    }
</script>
