<ol id="products-list" class="products-list">
@for (int i = 0; i < 4; i++)
{
    <li class="item">
        <div class="item-inner">
            <div class="row">
                <div class="col-sm-4 col-sms-4 col-smb-12">
                    <div class="~/assets/web/images-container">
                        <div class="product_icon">
                            <div class="new-icon"><span>new</span></div>
                            <div class="sale-icon"><span>sale</span></div>
                        </div>
                        <a class="product-image" title="Fusce aliquam" href="#" rel="author"><img alt="Fusce aliquam" src="~/assets/web/images/products/1.jpg"></a>
                    </div>
                </div>
                <div class="product-shop col-sm-8 col-sms-8 col-smb-12">
                    <div class="f-fix">
                        <h2 class="product-name"><a title="" href="#">Fusce aliquam</a></h2>
                        <div class="price-box">
                            <p class="special-price">
                                <span class="price-label">Special Price</span>
                                <span id="product-price-1" class="price">200.000 đ</span>
                            </p>
                            <p class="old-price">
                                <span class="price-label">Regular Price:</span>
                                <span id="old-price-1" class="price">190.000 đ</span>
                            </p>
                        </div>
                        <div class="desc std">
                            Nunc facilisis sagittis ullamcorper. Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus. Sed et lorem nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean eleifend laoreet congue. Vivamus adipiscing nisl ut dolor dignissim semper. Nulla luctus malesuada tincidunt. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer enim purus, posuere at ultricies eu, placerat a felis. Suspendisse aliquet urna pretium eros convallis interdum. Quisque in arcu id dui vulputate mollis eget non arcu. Aenean et nulla purus. Mauris vel tellus non nunc mattis lobortis. <a class="link-learn" title="Fusce aliquam" href="#">Learn More</a>
                        </div>
                        <div class="actions">
                            <div class="actions-inner">
                                <button class="btn btn-danger" title="Add to Cart" type="button">Mua</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
}
</ol>