@{
    var categories = (List<OnlineStore.Data.Entities.Category>)ViewBag.Categories;
}

<ul class="nav">
    @foreach (var category in categories)
    {
        if (category.SubCategories.Count > 0)
        {
            <li>
                <a href="/Categories/Details/@category.Id">@category.Name</a>
                @if (category.SubCategories.Count > 0)
                {
                    <div class="wrap-popup column1">
                        <div class="popup">
                            <h3>Danh mục con</h3>
                            <ul class="nav">
                                @foreach (var subCategory in category.SubCategories)
                                {
                                    <li><a href="/Subcategories/Details/@subCategory.Id">@subCategory.Name</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                }
            </li>
        }
        else
        {
             <li class="nosub">
                 <a href="/Categories/Details/@category.Id">@category.Name</a>
            </li>
        }
    }
</ul>